<p>Find a restaurant through our curated selection.</p>
<div class="block-restaurants" >
<% @restaurants.each do |restaurant| %>
    <ul class="list-restaurants">
      <%= link_to restaurant_path(restaurant) do %>
        <li><%= restaurant.name %></li>
      <% end %>
    </ul>
<% end %>
</div>
