<p>Find a restaurant through our curated selection.</p>
<div class="block-restaurants" >
  <% @restaurants.each do |restaurant| %>
      <ul class="list-restaurants">
        <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
      </ul>
  <% end %>
</div>
