<h1>Seat Yourself!</h1>
<br>
<h2>Please select one of these fine restaurants</h2>
<br>
<div>
  <%= @restaurants.each do |restaurant| %>
  <%= "#{restaurant.name}" %>
  <%= link_to "Go to restaurant page", restaurant_path(restaurant) %>
  <%= end %>
</div>
