/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #A7C5E8;
}
code {
  background: #2db34a;
  border-radius: 6px;
  color: #555;
  font: 20px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  padding: 15px 15px;
  text-align: center;
}
header,
footer {
  margin: 1.5% 1.5% 1.5% 1.5%;
}
section {
  margin: 1.5% 2.5% 1.5% 0%;
  float: left;
  width: 291px;
}

header {
  float: left;
  width: 80%;
}

div {
  clear: both;
}
