/*
===================================================
SET UP BOX-CONTENT MODEL
===================================================
*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

/*
===================================================
TESTING & ADAPTING ICECRM Styles into RAINFOREST
===================================================
*/

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
}

body {
  background-color: #fff;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background-color: white;
  margin: 0 auto;
  width: 75%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 75px;
}

nav {
  position: relative;
}

.container {
  background: #b9e1d8;
  color: #FFF3EC;
  width: 75%;
  margin: 75px auto 0;
  min-height: 100%;
  text-align: center;
  padding-bottom: 22px;
}

.logo {
  border-top: 7.5px solid rgba(100, 136, 128, 0.3);
  width: 23%;
  margin: 0 auto;
  padding-bottom: 5px;
  display: inline-block;
  text-align: left;
}

.userinfo {
  border-top: 7.5px solid rgba(100, 136, 128, 0.3);
  display: inline-block;
  float: right;
  text-align: center;
}


.error_messages {
  background-color: red;
  color: white;
  text-align: center;
}


/*.title {
  text-align: center;
  padding-top: 25px;
}*/

footer{
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  color: #648880;
}

/*.footer p {
  margin-top: 30px;
  opacity: 0.45;
  font-size: 0.65em;
  color: #fff
}*/

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, p {
  color: #648880;
  margin-bottom: 22px;
  margin: 0 auto;
  /*padding: 0.1%;*/
}

.error_messages h2 {
  color: white;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}
strong {
  font-weight: 400;
}

h2 {
  font-size: 20px;
}

/*
  ========================================
  List of restaurantes / Nav
  ========================================
*/
/*nav {
  width: 436px;
  margin: 0 auto;
  text-align: center;
}*/
.restaurants-block {
  margin: 0 auto;
  width: 60%;
  overflow: auto;
  background-color: white;
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  -webkit-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.75);
}

.restaurant-box {
  display: inline-block;;
  color: #648880;
  text-decoration: none;
  /*border: 1px solid #D6D6D6;
  background-color: white;*/
  padding: 3%;
  width: 33%;
  height: 156px;
  margin: 0 auto;
  /*margin-right: -4px;*/
  float: left;
  z-index: 1;
  position: relative;
}

.restaurant-img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
  left: -8%;
  top: -37%;
}

.restaurant-box a {
    color: white;
    text-shadow: rgba(0,0,0,.25) 0 2px 2px;
}

img {
    height: 155px;
    width: auto;
}
/*
  ========================================
  Links
  ========================================
*/
a {
  color: #906449;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}

.link-standard {
  color: #648880;
  margin-bottom: 22px;
}

.link-standard:hover {
  color: #648880;
  margin-bottom: 22px;
}

/*
  ========================================
  Form (new contact for now...)
  ========================================
*/

/*form {
  width: 336px;
  margin: 0 auto;
  padding: 5px;
}*/

/*fieldset {
  text-align: center;
}*/

/*.login{
  margin: 15px 0;
}*/

.field {
  margin: 0;
  text-align: center;
}
.field input{
  border-radius: 5px;
  display: block;
  border: 0.5px solid #D6D6D6;
  background-color: white;
  padding: 1%;
  text-align: center;
  width: 25%;
  margin: 0 auto;
}

input {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=submit] {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0 auto;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 1% 2%;
  width: 25%;
  background: green;
}
input[type=submit]:hover {
  background: #fff;
  color: green;
}

.edit-delete a {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0 auto;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 1% 2%;
  width: 25%;
  background: red;
}
.edit-delete a:hover {
  background: #fff;
  color: green;
}



#notice {
  background-color: green;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 75%;
}

#alert {
  background-color: red;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 75%;
  position: relative;
  z-index: 2;
  top: 9.75%;
}

.reservation-title {
    margin-top: 5%;
}
.reservations {
  margin-top: 5%;
  /*margin-bottom: 5%;*/
  /*background-color: white;*/
  margin: 0 auto;
  width: 30%;
  /*padding: 1px;*/
  /*border: 1px solid #fff;*/

}

.reservations li {
  color: #906449;
  font-size: 0.9em;
}

.reservations ul{
  margin-bottom: 15px;
  background-color: white;
}

select {
  display: block;
  width: 336px;
  margin: 0 auto;
  padding:17px;
  text-align: center;
  color: #aaa;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.field-select select {
   background: transparent;
   width: 25%;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   text-align: center;
   -webkit-appearance: none;
 }

 .field-select {
   width: 25%;
   height: 42px;
   overflow: hidden;
   margin: 0 auto;
   /*padding: 0.5%;*/
   /*background: url(new_arrow.png) no-repeat right #fff;*/
   background: #fff;
   text-align: center;
   border: 1px solid #D6D6D6;
   border-radius: 5px;
}

.restaurant-show {
  margin-bottom: 1%;
  margin-top: 1%;
}

.restaurant-show img {
    padding: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    height: 300px;
}

/*
  ========================================
  Table (All Contacts)
  ========================================
*/
/*table {
  width: 950px;
  margin: 0 auto;
  text-align: left;
}*/

/*.table-columns {
  margin-right: 10px;
}*/

/*
  ========================================
  Show [each] Contact
  ========================================
*/
/*.show-contact {
  width: 500px;
  margin: 0 auto;
}*/
