// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label{
  width: 6em;
  float: left;
  text-align: left;
  margin-right: 0.5em;
  display: block;
  line-height: 1.5;
}
